<html>
    <head>
        <script></script>
    </head>
    <body>
        <% hobbies.forEach((hobby, i) => { %>
            <div class="hobby">
              <p id="<%= i %>"><%= hobby %></p>
            </div>
          <% }) %>
    </body>
</html>
